<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <th:block th:fragment="user_form">
          <ul class="user_form" th:object="${userJoin}">
              <li class="rows">
                  <label for="userId">아이디</label>
                  <input type="text" id="userId" name="userId" th:field="*{userId}" th:placeholder="#{userId}">
                  <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
              </li>
              <li class="rows">
                  <label for="userPw">비밀번호</label>
                  <input type="password" id="userPw" name="userPw" th:field="*{userPw}" th:placeholder="#{userPw}">
                  <div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
              </li>
              <li class="rows">
                  <label for="userPwCk">비밀번호 확인</label>
                  <input type="password" id="userPwCk" name="userPwCk" th:field="*{userPwCk}" th:placeholder="#{userPwCk}">
                  <div class="error" th:each="err : ${#fields.errors('userPwCk')}" th:text="${err}"></div>
              </li>

              <li class="rows">
                  <label for="userNm">회원명</label>
                  <input type="text" id="userNm" name="userNm" th:field="*{userNm}" th:placeholder="#{userNm}">
                  <div class="error" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
              </li>
          </ul>
      </th:block>
</html>