<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
    <section layout:fragment="content">
        <nav th:replace="~{admin/book/_submenus::menus}"></nav>

        <th:block th:replace="~{commons/search::search}"></th:block>

        <table class="table_rows">
            <thead>
                <tr>
                    <th width="30">
                        <input type="checkbox" class="checkall" data-target-name="bookId" id="check_all">
                        <label for="check_all"></label>
                    </th>
                    <th width="150">도서ID</th>
                    <th width="150">제목</th>
                    <th width="150">도서분류</th>
                    <th width="150">저자</th>
                    <th width="150">출판사</th>
                    <th width="150">대여상태</th>
                    <th width="250"></th>
                </tr>
            </thead>
            <tbody>

            <th:block th:if="${#lists.isEmpty(books)}">
                <tr>
                    <td colspan="7">...!등록된 도서가 없습니다!....</td>
                </tr>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(books)}">
                <tr th:each="book, status : ${books}" th:object= "${book}">
                    <td>
                        <input type="checkbox" name="bookId" th:value="*{bookId}" th:id="'bookId_' + ${status.index}">
                    </td>
                    <td th:text="*{bookId}"></td>
                    <td><a th:href="@{/book/{bookId}(bookId=*{bookId})}" th:text="*{bookNm}"></a></td>
                    <td th:text="*{rentalType.toString()}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{publisher}"></td>
                    <td th:text="*{status}"></td>
                    <td>
                        <a th:href="@{/admin/book/update/{id}(id=*{bookId})}" class="btn1">수정</a>
                        <a th:if="*{status.toString() == 'RENT'}" th:href="@{/admin/book/delete/{id}(id=*{bookId})}" class="btn1" th:onclick="confirm('대여중인 도서입니다. 정말 삭제하시겠습니까?');">삭제</a>
                        <a th:if="*{status.toString() == 'RETURN'}" th:href="@{/admin/book/delete/{id}(id=*{bookId})}" class="btn1" th:onclick="confirm('정말 삭제하시겠습니까?');">삭제</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <th:block th:replace="~{commons/pagination::pagination}"></th:block>
    </section>
</html>