<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
    <section layout:fragment="content">
        <nav th:replace="~{admin/book/_submenus::menus}"></nav>
        <form class='form' method="post" th:action="@{/admin/book/save}" autocomplete="off">
            <input type="hidden" name="mode" value="update">

            <th:block th:replace="~{admin/book/_form::form}"></th:block>
            <button type="submit" class="submit_btn">수정하기</button>
        </form>
    </section>
</html>