<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

    <section class="main_content" layout:fragment="content">
        <div id="info" class="detail" th:object="${user}">
            <dl>
                <dd style="text-align: center;">
                    <img class="profilePhoto" th:src="*{photo}"/>
                </dd>
            </dl>
            <dl>
                <dt>회원번호</dt>
                <dd th:text="*{userNo}"></dd>
            </dl>
            <dl>
                <dt>회원ID</dt>
                <dd th:text="*{userId}"></dd>
            </dl>
            <dl>
                <dt>회원이름</dt>
                <dd th:text="*{userNm}"></dd>
            </dl>
            <button class="editBtn"><a th:href="@{/mypage/edit}">수정하기</a></button>
        </div>
    </section>
</html>