<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<section layout:fragment="content">
    <h1><i class="xi-library-books-o"></i> 나의 대여 기록</h1>
    <table>
        <thead>
        <tr>
            <th>대여번호</th>
            <th>책 ID</th>
            <th>책 제목</th>
            <th>대여일</th>
            <th>반납예정일</th>
            <th>실제반납일</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${rental}" th:object="${item}">
                <td class="rentalNo" th:text="*{rentalNo}"></td>
                <td class="bookId" th:text="*{book.bookId}"></td>
                <td class="bookNm" th:text="*{bookNm}"></td>
                <td class="rentDt" th:text="*{#temporals.format(rentDt, 'yyyy-MM-dd')}"></td>
                <td class="returnDt" th:text="*{#temporals.format(returnDt, 'yyyy-MM-dd')}"></td>
                <td class="realRtDt" th:text="*{#temporals.format(realRtDt, 'yyyy-MM-dd')}"></td>
                <td>
                    <button th:if="${delayCnt <= 2}" type="button">연장하기</button>
                    <button th:if="${delayCnt > 2}" type="button" disabled>연장불가</button>
                </td>
                <td>
                    <form method="post" th:action="@{/book/return}">
                        <input type="hidden" name="bookId" th:value="*{book.bookId}">
                        <input type="hidden" name="rentalNo" th:value="*{rentalNo}">
                        <button th:if="*{status.toString()} == 'RENT'">반납하기</button>
                        <button th:if="*{status.toString()} == 'RETURN'" disabled>반납완료</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <th:block th:replace="~{commons/pagination::pagination}"></th:block>
</section>
</html>