<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{front/layouts/main}">

    <section layout:fragment="content" th:object="${book}" id="detail">
        <div>
            <img width="200" height="200" src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"/>
        </div>
        <dl>
            <dt>도서 ID</dt>
            <dd th:text="*{bookId}"></dd>
        </dl>
        <dl>
            <dt>도서명</dt>
            <dd th:text="*{bookNm}"></dd>
        </dl>
        <dl>
            <dt>도서 종류</dt>
            <dd th:text="*{rentalType}"></dd>
        </dl>
        <dl>
            <dt>저자</dt>
            <dd th:text="*{author}"></dd>
        </dl>
        <dl>
            <dt>춢판사</dt>
            <dd th:text="*{publisher}"></dd>
        </dl>
        <dl>
            <dt>세부사항</dt>
            <dd th:text="*{description}"></dd>
        </dl>
        <form method="post" th:action="@{/book/rent}">
            <input type="hidden" th:value="*{bookId}" name="bookId">

            <button th:if="*{status.toString()} == 'RETURN'" class="rented">
                <a sec:authorize="isAnonymous()" onclick="return confirm('로그인이 필요합니다');" th:href="@{/user/login}">
                    대여하기
                </a>
                <th:block sec:authorize="isAuthenticated()">대여하기</th:block>
            </button>
            <button th:if="*{status.toString()} == 'RENT'" disabled>대여중</button>
        </form>
    </section>
</html>