<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{front/layouts/main}">

<section class="main_content" layout:fragment="content">
    <h1><i class="xi-library-books-o"></i>도서 검색</h1>

    <form class="search" name="searchForm" method="get" th:action="@{/book}" th:object="${bookSearch}">
        <th:block th:replace="~{commons/search::search}"></th:block>
    </form>

    <table class="table_rows">
        <thead>
        <tr>

            <th width="150">도서ID</th>
            <th width="150">제목</th>
            <th width="150">도서분류</th>
            <th width="150">저자</th>
            <th width="150">출판사</th>
            <th width="150">대여상태</th>
            <th width="250"></th>
        </tr>
        </thead>
        <tbody>

        <th:block th:if="${#lists.isEmpty(books)}">
            <tr>
                <td colspan="7">...!등록된 도서가 없습니다!....</td>
            </tr>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(books)}">
            <tr th:each="book, status : ${books}" th:object= "${book}">
                <td th:text="*{bookId}"></td>
                <td>
                    <a th:href="@{/book/{bookId}(bookId = ${book.bookId})}">
                        <th:block th:each="file : ${files}">
                            <img class="thumb" th:if="${file.gid.equals(book.gid)}" th:src="${file.fileUrl}">
                        </th:block>
                        <p th:text="*{bookNm}"></p>
                    </a>
                </td>
                <td th:text="*{rentalType.toString()}"></td>
                <td th:text="*{author}"></td>
                <td th:text="*{publisher}"></td>
                <td th:text="*{status}"></td>
                <td>
                    <th:block th:if="*{status.toString()} == 'RETURN'">
                        <form method="post" th:action="@{/book/rent}">
                            <input type="hidden" th:value="*{bookId}" name="bookId">

                            <button class="rented">
                                <a sec:authorize="isAnonymous()" onclick="return alert('로그인이 필요합니다');" th:href="@{/user/login}">
                                    대여하기
                                </a>
                                <th:block sec:authorize="isAuthenticated()">대여하기</th:block>
                            </button>
                        </form>`
                    </th:block>
                    <th:block th:if="*{status.toString()} == 'RENT'">
                        <button disabled>대여중</button>
                    </th:block>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <th:block th:replace="~{commons/pagination::pagination}"></th:block>


</section>
</html>