form {
    text-align: center;
}
form input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
form button {
    padding: 5px;
    background-color: white;
}
form button:hover {
    color: white;
    background-color: black;
}