@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
::-webkit-scrollbar {  width: 5px; height: 5px; }
::-webkit-scrollbar-thumb { background: #596b99; border-radius: 3px; }
* { box-sizing: border-box; outline: none; font-family: 'Nanum Gothic', sans-serif; }
html { font-size: 13px; color: #222; }
body { margin: 0; }
ul { list-style: none; margin: 0; padding: 0; }
li { display: block; }
dl { display: flex; width: 100%; margin: 0; align-items: center; }
dt { width: 130px;  }
dd { width: calc(100% - 130px); padding: 0; margin: 0; }
a { color:#222; text-decoration: none; }
hr {margin: 0;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] { border: 1px solid #d5d5d5; height: 35px; width: 100%; padding: 0 20px; }
input[type="date"] { height: 35px; border: 1px solid #d5d5d5; padding: 0 20px; }
textarea { border: 1px solid #d5d5d5; width: 100%; resize: none; padding: 20px; min-height: 100px; }
select { height: 35px; border: 1px solid #d5d5d5; background: #fff; min-width: 130px; }
input[type='radio'] { display: none; }
input[type='radio']~label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/radio-off.png") no-repeat left center; line-height: 20px; cursor: pointer; margin: 3px 0;}
input[type='radio']:checked~label { background:url("../images/radio-on.png") no-repeat left center; }
input[type='radio']~label.standalone { padding: 0; height: 20px; width: 20px; }

input[type='checkbox'] { display: none; }
input[type='checkbox']~label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/chk-off.png") no-repeat left center; background-size: 20px; line-height: 20px; cursor: pointer; margin: 3px 0; }
input[type='checkbox']:checked~label { background:url("../images/chk-on.png") no-repeat left center; background-size: 20px; }
input[type='checkbox']~label.standalone { padding: 0; height: 20px; width: 20px; }

input:read-only, textarea:read-only { background-color: #f8f8f8; }
select option:disabled { color: red; background-color: #f8f8f8; }

.error { box-shadow: 2px 2px 4px #666; padding: 15px; border-radius: 5px; margin: 5px 0; color: red; font-size: 12px; }
.dn { display: none !important; }

.layout_width { max-width: 1140px; min-width: 1000px; margin: 0 auto; }

.pagination {
    text-align: center;
}
/** 공통 버튼 */
.btn1, .btn2{
    border: 1px solid #000;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.btn2{
    background: #fff;
    font-size: 14px;
    font-weight: bold;
}

.btn1:hover{
    background: #000;
    color: #fff;
}

.btn2:hover{
    background: orange;
}

.submit_btn{
    color: #fff;
    border-radius: 5px;
    min-width: 250px;
    background: #000;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin: 10px auto;
    display: block;
    line-height: 45px;
}

/** 사이트 헤더 공통 S */
header nav .inner { display: flex; justify-content: space-between; }
#header {
    width: 100%;
    z-index: 10;
}
#header > div {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #ccc;
    padding: 0 20px;
}
#header .logo {
    width: 200px;
}
.logo h1 {
    color: white;
    text-align: center;
}
.header-right {
    display: flex;
    text-align: right;
}
.header-right a {
    display: block;
    margin: 0 5px;
    padding: 0.5rem;
}
.header-right a:hover {
    background-color: white;
}
/** 사이트 헤더 공통 E */

/** 메인 영역 > side 부분 S */
main{
    display: flex;
}
main > aside{
    width: 200px;
    background: #e0e0e0;
    border-right: 2px solid #000;
}
main > aside a{
    min-width: 125px;
    display: block;
    padding: 25px 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
}
main > aside a *{
    font-size: 20px;
}
main > aside a:hover,
main > aside a.on,
main > aside a:hover *,
main > aside a.on *{
    background: #000;
    color: #fff;
}
main > .main_content{
    flex-grow: 1;
    padding: 20px;
    background: #fff;
}

main nav{
    margin-bottom: 25px;
}
main nav.sub_menus{
    margin-bottom: 20px;
}
#main {
    width: 100%;
}
/**메인 영역  > side 부분 E */


/** 메인 영역 > index */
#banner {
    min-width: 100%;
    height: 400px;
    overflow: hidden;
}
#bannerBox {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
#bannerBox img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    top: 0; left: 100%;
    width: 100%;
    transition: 0.2s;
}
.active {
    left: 0 !important;
}
#notice {
    padding: 20px;
    font-size: 20px;
}

/** 회원 검색 S */
table {
    width: 100%;
    min-width: 700px;
    text-align: center;
    padding: 1rem;
}
table tr {
    padding: 0.5rem 0 0.5rem 0;
}

table button {
    border-radius: 5px;
    border: 1px solid;
    padding: 0.5rem;
    background-color: white
}
table button:hover {
    background-color: black;
    color: white;
}

.search input[type='text']{
    width: 80%;
}

/** 홈화면 도서추천 그리드 */
#reco {
    padding: 20px;
    text-align: center;
}
#reco div:last-of-type {
    padding-top: 40px;
}
#reco div {
    width: 90%;
    margin: 0 auto;
}
#reco ul {
    white-space: nowrap;
    overflow: auto;
    height: 280px;
    padding: 10px;
    position: relative;
}
.recent li {
    height: 250px;
    width: 200px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding-top: 10px;
    vertical-align: middle;
}
.recent li p {
    margin: 0;
    padding-top: 10px;
}
#arrowBox {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media(max-width: 1075px) {
    .flex {
        width: 590px;
        margin: 0 auto;
    }
}

.thumb {
    width: 90%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.2s;
}
.recent li:hover {
    border: 5px solid blue;
}

/** 로그인 및 회원가입 */
#joinFm, #frmLogin {
    width: 100%;
    text-align: center;
}
#frmLogin div {
    margin-bottom: 20px;
}
#user_form {
    width: 100%;
}
#joinFm button {
    text-align: center;
    margin-top: 20px;
}
.user_form li {
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
}
.rows label {
    display: inline-block;
    width: 120px;
}
.rows input[type='text'], .rows input[type='password'] {
    width: calc(100% - 125px);
    text-align: left;
}
.form {
    flex-direction: column;
}


/** 책 디테일 페이지 */
.detail {
    text-align: center;
    min-width: 500px;
    max-width: 900px;
}
.detail img {
    margin-top: 10px;
    margin-bottom: 20px;
}
.detail dl{
    width: 500px;
    display: flex;
    margin: 10px auto;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.detail dl dt{
    padding: 0.5rem;
    background-color: #ccc;
    border-radius: 15px;
    width: 150px;

}
.detail dl dd{
    text-align: left;
    width: 100%;
    padding: 0 20px;
}
.detail button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5rem;
}
.detail button:disabled {
    color: #777;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.detail .rented:hover {
    background-color: black;
    color: white;
}
.detail .rented:hover a {
    background-color: black;
    color: white;
}

/** 테이블 양식 */
table {
    width: 100%;
    min-width: 560px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-collapse: collapse;
}
tr {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
table button {
    border-radius: 5px;
    border: 1px solid;
    padding: 0.5rem;
    background-color: white
}
table button:hover {
    background-color: black;
    color: white;
}

table button:disabled {
    color: #777;
    background-color: #ccc;
    border: 1px solid #ccc;
}

th {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}
table .thumb {
    width: 130px;
    height: 150px;
    margin-top: 20px
}

/** 도서 이미지 캐러셀,,! */
.carousel {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-shadow: 5px 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.carousel ul {
    display: flex;
    width: 100%;
    transition: 0.2s;
}
.bookImg {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.arrow {
     position: absolute;
     top: 50%;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.2);
     color: white;
     font-weight: bold;
}

@media(min-width: 1024px) {
    #detail {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    #detail .carousel {
        width: 300px;
        height: 400px;
    }
    .bookImg {
        width: 300px;
        height: 400px;
        object-fit: contain;
    }
}
/* 프로필 */
.profilePhoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.detail .editBtn:hover {
    background-color: black;
    color: white;
}
.detail .editBtn:hover a {
    background-color: black;
    color: white;
}

#defalutImg+label {
    display: inline-block;
    background-color: honeydew;
    white-space: nowrap;
    height: 24px;
    padding: 5px;
    font-size: 11px;
    border-radius: 15px
}
.edit button {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 20px auto;
    display: block;
}
.edit button:hover {
    color: white;
    background-color: black;
}

/** footer */
footer {
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;

}

.footer-sns__list {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
footer > div {
    padding: 20px 0;
}